<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e19146ba-ccd9-467c-ae34-d79ad897ebb0" name="savedinternships" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="e19146ba-ccd9-467c-ae34-d79ad897ebb0fileName">savedinternships</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>