<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d4ae4d7-f892-4dd4-b632-494cb686c342" name="address" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="6d4ae4d7-f892-4dd4-b632-494cb686c342fileName">address</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>