<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="46e89d76-30bd-4b29-b496-2c7d13b74e9b" name="Account Info" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="46e89d76-30bd-4b29-b496-2c7d13b74e9bfileName">Account-Info</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>