<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7c187cc2-3061-44da-a865-86848ef961d8" name="FV" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="7c187cc2-3061-44da-a865-86848ef961d8fileName">FV</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>