<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="48e65fcb-0e8f-42e6-828a-9a1e929b8015" name="search projects" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="48e65fcb-0e8f-42e6-828a-9a1e929b8015fileName">search-projects</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>