<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2543839d-cc09-4db2-8bbc-7d1388adfb28" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://test.freshvoice.in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2543839d-cc09-4db2-8bbc-7d1388adfb28fileName">https%3A%2F%2Ftest.freshvoice.in5</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://test.freshvoice.in</con:endpoint></con:endpoints></con:interface>