<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9925fd9c-060f-49c3-a6f3-1446d8cecd71" name="appliedinternships" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="9925fd9c-060f-49c3-a6f3-1446d8cecd71fileName">appliedinternships</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>