<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8a0eb687-09b5-4fa1-846f-1ca43f6f306c" name="prefrences" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="8a0eb687-09b5-4fa1-846f-1ca43f6f306cfileName">prefrences</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>