<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="865353f5-75ed-4940-ba98-838f8fba960a" name="Edit Profile" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="865353f5-75ed-4940-ba98-838f8fba960afileName">Edit-Profile1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>