<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="48f12811-fe9d-49a7-b76c-b99342bf2a4b" name="searchinternship" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="48f12811-fe9d-49a7-b76c-b99342bf2a4bfileName">searchinternship</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>