<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5c702b87-609b-4159-bf45-dd93a857b61a" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://test.freshvoice.in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5c702b87-609b-4159-bf45-dd93a857b61afileName">https%3A%2F%2Ftest.freshvoice.in7</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://test.freshvoice.in</con:endpoint></con:endpoints></con:interface>