<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f7972b46-a457-4fce-a692-77ceb9b34dfa" name="SavedJobs" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="f7972b46-a457-4fce-a692-77ceb9b34dfafileName">SavedJobs</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>