<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="caa5c585-f439-41e0-b802-5a5c67af22dc" name="Changepassword" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="caa5c585-f439-41e0-b802-5a5c67af22dcfileName">Changepassword</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>