<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f331fd1a-2265-4549-b358-28bddfb401b3" name="Emailandphonenum" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [https://test.freshvoice.in]</con:description><con:settings><con:setting id="f331fd1a-2265-4549-b358-28bddfb401b3fileName">Emailandphonenum</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>